<div class="container">

<h1>Detalle de Pokemón</h1>

<div class="row">
  <div class="col-sm-4 col-md-2">
    <div class="thumbnail">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= @pokemon["order"]%>.png" alt="...">
      <div class="caption">
        <h3><%= @pokemon["name"] %></h3>
        <p>Peso : <%= @pokemon["weight"] %></p>
        <p>Altura : <%= @pokemon["height"] %></p>
        <p>Movimientos : <%= %></p>
        <% @pokemon["moves"].each.with_index do |move, index| %>
        <p><%= move["move"]["name"]%></p>
        <% end %>
        <p>
          <a href="/pokemons/index" class="btn btn-primary" role="button">Regresar</a>
        </p>
      </div>
    </div>
  </div>
</div>


</div>